<template>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">

            <UserList :contactList="contactsList" :isActive="isActive" :currentIndex="currentIndex" @get_user_info="get_user_info" @get_contacts="get_contacts"/>
            <MessagesBlock :userInfo="contactsList" :currentIndex="currentIndex"/>

        </div>
    </div>
</template>

<script>
    import $ from 'jquery'
    import UserList from "./UserList"
    import MessagesBlock from "./MessagesBlock"

    export default {
        name: "Chat",
        components: {UserList, MessagesBlock},
        data(){
            return{
                user: sessionStorage.getItem('user'),
                token: sessionStorage.getItem('_token'),
                contactsList: '',
                timer: '',
                isActive: false,
                currentIndex: ''
            }
        },
        created() {
            this.get_contacts()
            this.timer = setInterval(this.get_contacts, 50000)
            if(sessionStorage.getItem('_token')){
                $.ajaxSetup({
                    headers: {'Authorization': "Token " + sessionStorage.getItem('_token')},
                })
            }
            else{
                this.$router.push({name: "login"})
            }
        },
        methods: {
            async get_user_info(data){
                if(sessionStorage.getItem('_token')){
                    this.isActive = true
                    this.currentIndex = data
                    $.ajax({
                        url: "http://localhost:8000/api/v1/userInfo/",
                        type: "GET",
                        data: {
                            user: this.user
                        },
                        success: (response) => {
                            // console.log(response.username)
                            sessionStorage.setItem("user", response.username)
                            this.isActive = true
                            this.get_contacts(data);
                        },
                        error: (response) => {
                            if(response.status === 400){
                                console.log('Please provide both username and password')
                            }
                        },
                    })
                }
            },
            async get_contacts(){
                if(sessionStorage.getItem('_token')){
                    $.ajax({
                        url: "http://localhost:8000/api/v1/contactList/",
                        type: "GET",
                        data: {
                            user: this.user
                        },
                        success: (response) => {
                            this.contactsList = response.contact_list
                        },
                        error: (response) => {
                            if(response.status === 400){
                                console.log('Please provide both username and password')
                            }
                        },
                    })
                }
            },
        }
    }
</script>

<style scoped>
    .contacts li{
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }
    .user_info span{
        font-size: 20px;
        color: white;
    }
    .user_info p{
        font-size: 10px;
        color: rgba(255,255,255,0.6);
    }
    .video_cam span{
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }
    .action_menu ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .action_menu ul li{
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 5px;
    }
    .action_menu ul li i{
        padding-right: 10px;
    }
    .action_menu ul li:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
    }
    ::-webkit-scrollbar { width: 8px; height: 8px;}
    ::-webkit-scrollbar-button {  background-color: rgba(119, 171, 136, 0); }
    ::-webkit-scrollbar-track {  background-color: rgba(255, 255, 255, 0);}
    ::-webkit-scrollbar-track-piece { background-color: rgba(174, 147, 147, 0);}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(9, 75, 101, 0.77); border-radius: 3px;}
    ::-webkit-scrollbar-corner { background-color: #000000;}
    ::-webkit-resizer { background-color: #000000;}
</style>