<template>
    <Chat></Chat>
</template>

<script>
    import Chat from '@/components/Chat.vue'
    export default {
        name: "Home",
        components: {
            Chat
        },
        methods: {
            goLogin(){
                this.$router.push({name: "login"})
            },
        }
    }
</script>

<style>
    html,body {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
        margin: 0;
        background: #7F7FD5;
        background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    }

</style>