<template>
    <div class="col-md-4 col-xl-3 chat">
        <div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
                <div class="input-group">
                    <input type="text" placeholder="Search..." name="" class="form-control search">
                    <div class="input-group-prepend">
                        <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="card-body contacts_body" id="content-5">
                <ul class="contacts">
                    <li v-for="(contact, index) in contactList" :key="index" @click="$emit('get_user_info', index)" :class="{active: index===currentIndex }">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img :src="contact.img" class="rounded-circle user_img">
                                <span class="online_icon offline" v-if="contact.status === 0"></span>
                                <span class="online_icon" v-else></span>
                            </div>
                            <div class="user_info">
                                <span>{{contact.user}}</span>
                                <p>{{contact.user}} left 7 mins ago</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserList",
        props: ['contactList', 'currentIndex'],
        data(){
            return{
                user: sessionStorage.getItem('user'),
                token: sessionStorage.getItem('_token'),
                timer: '',
                isActive: ''
            }
        },
        methods: {
            get_user_info (data) {
                this.$emit('get_user_info', data)
            }
        }
    }
</script>

<style scoped>
    .chat{
        margin-top: auto;
        margin-bottom: auto;
    }
    .card{
        height: 800px;
        border-radius: 5px !important;
        background-color: rgba(0,0,0,0.4) !important;
    }
    .contacts_body{
        padding:  0.75rem 0 !important;
        overflow-y: auto;
        white-space: nowrap;
    }
    .card-header{
        border-radius: 15px 15px 0 0 !important;
        border-bottom: 0 !important;
    }
    .card-footer{
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
    }
    .search{
        border-radius: 5px 0 0 5px !important;
        background-color: rgba(0,0,0,0.3) !important;
        border:0 !important;
        color:white !important;
    }
    .search:focus{
        box-shadow:none !important;
        outline:0px !important;
    }
    .search_btn{
        border-radius: 0 5px 5px 0 !important;
        background-color: rgba(0,0,0,0.3) !important;
        border:0 !important;
        color: white !important;
        cursor: pointer;
    }
    .contacts{
        list-style: none;
        padding: 0;
    }
    .contacts li{
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }
    .active{
        background-color: rgba(0,0,0,0.3);
    }
    .user_img{
        height: 70px;
        width: 70px;
        border:1.5px solid #f5f6fa;

    }
    .img_cont{
        position: relative;
        height: 70px;
        width: 70px;
    }
    .online_icon{
        position: absolute;
        height: 15px;
        width:15px;
        background-color: #4cd137;
        border-radius: 50%;
        bottom: 0.2em;
        right: 0.4em;
        border:1.5px solid white;
    }
    .offline{
        background-color: #c23616 !important;
    }
    .user_info{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
    }
    .user_info span{
        font-size: 20px;
        color: white;
    }
    .user_info p{
        font-size: 10px;
        color: rgba(255,255,255,0.6);
    }
    .video_cam span{
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }
    .action_menu ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .action_menu ul li{
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 5px;
    }
    .action_menu ul li i{
        padding-right: 10px;
    }
    .action_menu ul li:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
    }
    @media(max-width: 576px){
        .contacts_card{
            margin-bottom: 15px !important;
        }
    }
    ::-webkit-scrollbar { width: 8px; height: 8px;}
    ::-webkit-scrollbar-button {  background-color: rgba(119, 171, 136, 0); }
    ::-webkit-scrollbar-track {  background-color: rgba(255, 255, 255, 0);}
    ::-webkit-scrollbar-track-piece { background-color: rgba(174, 147, 147, 0);}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(9, 75, 101, 0.77); border-radius: 3px;}
    ::-webkit-scrollbar-corner { background-color: #000000;}
    ::-webkit-resizer { background-color: #000000;}
</style>