<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>
  import $ from "jquery"
  import router from "./router/router"

  export default {
    name: 'App',
    router,
    created() {
      if(sessionStorage.getItem('_token')){
        $.ajaxSetup({
          headers: {'Authorization': "Token " + sessionStorage.getItem('_token')},
        })
      }
      else{
        this.$router.push({name: "login"})
      }
    },
  }
</script>

<style>
  html,body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  }
  #app {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-color: #00d2ff;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
  }
</style>
